/* ---------Label------------ */

QLabel#aboutLabel {
    color: #cccccc;
    background-color: #262b3c;
    border-radius: 8px;
    padding: 12px 16px;
    max-width: 300px;
}

QLabel#titleLabel {
    background-color: transparent;
    font-size: 24px;
    color: #d8d8d8;
}

/* ---------Button------------ */

QPushButton#backBtn {
    background-color: #262b3c;
    border-radius: 20px;
}
QPushButton#backBtn:hover {
    background-color: #31364a;
}


QPushButton#appButton[style="normal"] {
    background-color: #262b3c;
    border-radius: 6px;
    padding: 8px;
}
QPushButton#appButton[style="normal"]:hover {
    background-color: #31364a;
}
QPushButton#appButton[style="normal"]:pressed {
    background-color: #262b3c;
}
QPushButton#appButton[style="save"] {
    background-color: #3c9bcc;
    border-radius: 6px;
}
QPushButton#appButton[style="save"]:hover {
    background-color: #54a3cc;
}

QPushButton#appButton[style="delete"] {
    background-color: #ff4038;
    border-radius: 6px;
}
QPushButton#appButton[style="delete"]:hover {
    background-color: #ff4d38;
}


QPushButton#menuButton {
    background-color: #262b3c;
    border-radius: 4px;
}
QPushButton#menuButton:hover {
    background-color: #31364a;
}
QPushButton#menuButton:pressed {
    background-color: #262b3c;
}
QPushButton#menuButton > QLabel#addressLabel {
    background-color: transparent;
    font-size: 12px;
    text-align: left;
    padding: 0px;
}
QPushButton#menuButton > QLabel#dateLabel {
    background-color: transparent;
    color: #b9b9b9;
    font-size: 10px;
}


QPushButton#copyBtn {
    background-color: #262b3c;
    border-radius: 6px;
    padding: 8px;
}
QPushButton#copyBtn:hover {
    background-color: #31364a;
}
QPushButton#copyBtn:pressed {
    background-color: #262b3c;
}
/* ---------Entry------------ */

QLineEdit#editEntry[style="normalMode"] {
    background-color: #2c3245;
    border-radius: 4px;
    font-size: 12px;
    padding: 4px;
}

QLineEdit#editEntry[style="editMode"] {
    border: 2px solid #3f7a99;
    padding: 4px;

}
QLineEdit#editEntry[style="editMode"]:hover {
    background-color: #32394f;
}